body{
    font-family: 'Nunito', sans-serif;
}

p-4{
    padding: 1 rem;
}
.border-1{
border-width: .75rem;
}
.form div{
    margin-bottom: 15px;
}
.form div>input{
    display:block;
}
.form div>button{
    padding: 5px;
}